<!DOCTYPE html>
<html lang="en">
 
<head>
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- axios import-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet" type="text/css"/>

 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      
      $("#open_btn").click(function(){
    
        $.post("/open",
        {
          name: "client",
          time: "now"
        },  );
      });
    });

    $(document).ready(function(){
      
      $("#close_btn").click(function(){
    
        $.post("/close",
        {
          name: "client",
          time: "now"
        },  );
      });
    });

    $(document).ready(function(){
        
         $("#cap_btn").click(function(){

           $.post("/capture",
           {
             name: "client",
             time: "now"
           },  );
         });
       });
</script>


</head>
   
<body>
  <br>
    <h1 class="text-center mt-1">The Caring Curtain</h1>
    
    <div class="text-center">
    <img src="{{ url_for('static', filename='curtain.png')}}" height ='300' width="350">
    <span class="brsmall"></span>
    <p class="button-txt"><span><button type="button" >Reset to Default</button></span></p>
    </div>
    <div class="text-center mt-1">
    <span class="brsmall"></span>
    <span class="brxsmall"></span>
      <h3>Curtain State</h3>
            <p class="button-txt"><span><button id="open_btn" type="button" >Open</button>
                <button id='close_btn' type="button" >Close</button></span></p>
                <span class="brsmall"></span>
                <p><span><button id="cap_btn" type="button" >Capture</button></p>
                </div>

        <br>
        <h2 class="text-center mt-1">Advanced Scheduling</h2>
        <span class="brxsmall"></span>

        
    <div class="text-center mt-1">
        <div class="text-center mt-1">
            <div>
    
    <div class="'footer">Open Curtain:</div>
    <form id="timer" action="/openTimer" method="POST"> <!-- submit -->
        <label for="appt"><img src="https://img.icons8.com/pastel-glyph/2x/clock--v2.png" width="30" height="30">Select a time:</label>
        <input type="time" id="appt" name="appt">
        <input type="submit">
        </form>

    <span class="brxsmall"></span>

    <div class="'footer">Close Curtain:</div>

    <form id="timer2" action="/closeTimer" method="POST"> <!-- submit -->
      <label for="appt"><img src="https://img.icons8.com/pastel-glyph/2x/clock--v2.png" width="30" height="30">Select a time:</label>
      <input type="time" id="appt2" name="appt2">
      <input type="submit">

      </form>
    <br>
    </div>


</body>

</html>


